* {
  margin:0;
  padding:0;
}

html, body {
  width:100%;
  height:100%;
}



h1 {
    font-size: 100px;
    font-family:  Helvetica, sans-serif;
    background: linear-gradient(
        to right,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}



/*barre navigation*/
nav {
  display:block;
  position:absolute;
  top:10%;
  left:0;
  margin:0 auto;
  padding:0;
  width:100%;
  height:40px;
  
  text-align:center;
  
  background-color:#09f;
}

nav ul {
  margin:0;
  padding:0;
}

nav ul li {
  display:inline-block;
  position:relative;
  margin-left:5px;
  margin-right:5px;
  top:-17px;
  padding:10px;
  z-index:999;
  
  list-style:none;
  
  border-radius:7px;
  box-shadow:0px 0px 10px #000,
  inset 0px 5px 5px -6px #fff;
  
  background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 0%, #191919 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#191919)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484d 0%,#191919 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #45484d 0%,#191919 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #45484d 0%,#191919 100%); /* IE10+ */
background: linear-gradient(to bottom,  #45484d 0%,#191919 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#191919',GradientType=0 ); /* IE6-9 */

}

nav ul li a {
  display:block;
  position:relative;
  padding:15px;
  
  color:#fff;
  font-family:Arial;
  font-size:1.1em;
  text-decoration:none;
  text-shadow:0px 1px 5px #1e1e1e;
  
  border-radius:7px;
  
  box-shadow:0px 0px 5px transparent,
  inset 0px 0px 5px transparent,
   0px 1px 5px #000;
  -webkit-transition: all .20s ease;;
  -moz-transition: all .20s ease;;
  -o-transition: all .20s ease;;
  transition: all .20s ease;;
}

nav ul li a:hover {
  
  text-shadow:0px 2px 10px #000;
  
  box-shadow:0px 0px 10px #09f,
  inset 0px 0px 10px -1px #000;
}



/*planet*/
body{
    background: #000;
}

@keyframes spin {
    to {
      transform:rotateY(-360deg);
    }
  }

@keyframes opacity {
	to {
    opacity: 1;
  }
}


.component-wrapper {
  position: absolute;
}

  .scene {
    width: 50rem;
    height: 50rem;
    margin: 2% auto;
    perspective: 100rem;
  }

  .wrapper {
    width:100%;
    height:100%;
    transform: rotateX(-8deg) rotateY(0deg);
    transform-style: preserve-3d;
  }

  .globe {
    position: relative;
    width: 70%;
    height: 70%;
    margin:0 auto;
    transform-style:  preserve-3d;
    animation: spin 25s 0ms infinite linear;
  }
  .ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:3px;
    border-style: dotted;
    border-radius: 50%;
    color:#7ad4f8;
    animation: opacity 0.75s forwards ease-in-out;
    opacity: 0;
  }
  .ring:nth-child(1) {
    transform: rotateY(4deg);
  }
  .ring:nth-child(2) {
    transform: rotateY(30deg);
  }
  .ring:nth-child(3) {
    transform: rotateY(56deg);
  }
  .ring:nth-child(4) {
    transform: rotateY(82deg);
  }
  .ring:nth-child(5) {
    transform: rotateY(108deg);
  }
  .ring:nth-child(6) {
    transform: rotateY(134deg);
  }
  .ring:nth-child(7) {
    transform: rotateY(160deg);
  }