:root {
    --color-background: #000;
    --color-foreground: #000;
    --color-texto: hsl(240, 5%, 83%);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: var(--color-texto);
    font-weight: bolder;
  }
  
  body {
    background-color: var(--color-background);
    color: var(--color-texto);
  }
  
  .container {
    display: grid;
    grid-template-columns: 50px repeat(
        3,
        calc(90px + 2.5%) calc(90px + 2.5%) 50px
      );
    grid-template-rows: repeat(8, 200px);
  
    justify-content: center;
  }
  
  .card {
    position: relative;
    width: calc(180px + 5%);
  }
  
  .card > p {
    position: absolute;
    left: 43%;
    top: 55%;
    transform: rotate(90deg);
  
    font-family: "PT Serif", serif;
    font-weight: 400;
    width: 240px;
  }
  
  .card > h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  
  .card > img {
    height: auto;
    width: calc(180px + 5%);
    border-radius: 5px;
  }
  
  /*GRID*/
  
  .title {
    grid-column: 2/5;
    grid-row: 1/2;
  
    font-family: "PT Serif";
  }
  
  .desc {
    grid-column: 6/10;
    grid-row: 1/2;
  }
  
  .desc > h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  
  .desc > p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  
  .title,
  .desc {
    margin: auto 0;
  }
  
  .card-1 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  
  .card-2 {
    grid-column: 5/6;
    grid-row: 3/4;
  }
  
  .card-3 {
    grid-column: 8/9;
    grid-row: 2/3;
  }
  
  /*Segunda Fila*/
  
  .card-4 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  
  .card-5 {
    grid-column: 5/6;
    grid-row: 6/7;
  }
  
  .card-6 {
    grid-column: 8/9;
    grid-row: 5/6;
  }
  
  .footer {
    grid-column: 4/7;
    grid-row: 8/8;
  
    margin: auto 0;
  
    text-align: center;
    font-size: 1.2em;
  }
  
  .footer > p {
    font-family: "Poppins", sans-serif;
  }
  
  /*MEDIA*/
  
  @media (max-width: 768px) {
    .container {
      grid-template-columns: repeat(2, calc(100px + 17%));
      grid-template-rows: repeat(13, 100px);
    }
  
    .card > img {
      height: 150px;
      width: auto;
    }
  
    .card > p {
      left: 0;
    }
  
    .card {
      width: auto;
    }
  
    /*Grid*/
  
    .title {
      grid-column: 1/2;
      grid-row: 1/1;
  
      width: 300px;
    }
  
    .desc {
      grid-column: 1/2;
      grid-row: 2/2;
      font-size: 1em;
      width: 300px;
    }
  
    .card-1 {
      grid-column: 1/1;
      grid-row: 4/6;
    }
  
    .card-2 {
      grid-column: 2/2;
      grid-row: 5/7;
    }
  
    .card-3 {
      grid-column: 1/1;
      grid-row: 7/9;
    }
  
    /*Segunda Fila*/
  
    .card-4 {
      grid-column: 2/2;
      grid-row: 8/10;
    }
  
    .card-5 {
      grid-column: 1/1;
      grid-row: 10/12;
    }
  
    .card-6 {
      grid-column: 2/2;
      grid-row: 11/13;
    }
  
    .footer {
      grid-column: 1/2;
      grid-row: 16/16;
    }
  
    .footer > p {
      width: 300px;
      font-size: 0.8em;
    }
  }